{% include 'houses/base.html' %}
{% load static %}
<html>

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'houses/style.css' %}">

<body>
    <header class="masthead" style="background-image:url('../../static/houses/img/Home pic.jpg');background-size: cover;background-position: center;">
        <div class="overlay" style="background-color: #30475e;"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto">
                    <div class="site-heading">
                        <div class="btn-group" role="group"><button class="btn btn-primary" type="button" style="background-color: rgba(0,133,161,0.13);">Buy</button><button class="btn btn-primary" type="button" style="background-color: rgba(0,133,161,0.13);">Sell</button><button class="btn btn-primary"
                                type="button" style="background-color: rgba(0,133,161,0.13);">Rent</button></div><span class="subheading">DO what you want with Your Home</span><span class="subheading ml-5">{% include 'houses/snippets/search_form.html' %}</span></div>
                </div>
            </div>
        </div>
    </header>
    <div class="container" style="text-align: right">
     <h5>Average home price:<span><small> ${{ avg_price }}</small></span></h5>
         <h5>Highest home price:<span><small> ${{ max_price }}</small></span></h5>
        <h5>Lowest home price:<span><small> ${{ min_price }}</small></span></h5>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="container">
         <div class="row">

{% for obj in object_list%}

             <div class="card col-4 mt-4 mr-2 mx-auto">
                {% if obj.img %}
                    <a href="{{ obj.get_absolute_url }}"><img class="card-img-top" src="{{ obj.img.url }}" alt="Card image cap" height="200px" width="200px"></a>
                 {% endif %}
                <div class="card-body">
                  <h5 class="card-title">{{ obj.address}}</h5>
                  <p class="card-text">{{ obj.city }}, {{ obj.state }} {{ obj.zip_code }}</p>
                    <p class="card-text"  style="text-align: right">Price: ${{ obj.cost }}<br>beds:{{ obj.number_of_bed }}   baths:{{ obj.number_of_bath }}</p>
                    <p style="text-align: right">sq ft: {{ obj.sq_ft }}</p>
                  <p class="card-text"><small class="text-muted"> Listed {{ obj.list_date| timesince }} ago</small></p>
                </div>
            </div>

{% endfor %}
     </div>
    </div>
        </div>
    </div>
    </div>
    <div class="container">
        <div class="row">

            <div class="col-md-10 col-lg-8">
                {% for obj in article %}

                <div class="post-preview">
                    <a href="{% url 'news:author-detail' obj.id %}">
                        <h2 class="post-title">{{ obj.Title | title }}</h2>
                        <h3 class="post-subtitle">{{ obj.content | truncatewords:17 }}</h3>
                    </a>
                    <p class="post-meta">Posted by&nbsp;<a href="#">{{ obj.author }} published on {{ obj.timestamp }}</a></p>
                </div>
                <hr>
                {% endfor %}

                <div class="clearfix"><a href="{% url 'news:article-list' %}"> <button class="btn btn-primary float-right" type="button">More News&nbsp;⇒</button></a></div>
            </div>
            <div class="col-lg-2 ml-auto mt-4" style="text-align: right">
                <h1> Top Realtors</h1>
                {% for obj in authors %}
                    <ul>
                    <a href="{% url 'news:author-detail' obj.id %}"> {{ obj.first_name }}</a>
                    </ul>
                {% endfor %}
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'assets/js/Card-Carousel.js' %}"></script>
    <script src="{% static 'assets/js/clean-blog.js' %}"></script>
{% endblock %}
</div>
</body>
{% include 'houses/snippets/footer.html' %}


</html>