<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
<h1>{{ object.first_name }} {{ object.last_name }}</h1>
 <div class="post-preview">
     {% for article in news %}
                    <a href="#">
                        <h2 class="post-title">{{ article.Title | title }}</h2>
                        <h3 class="post-subtitle">{{ article.content | truncatewords:10 }}</h3>
                    </a>
                    <p class="post-meta">Posted by<a href="{% url 'news:author-detail' article.id %}">{{ article.author }} published on {{ article.timestamp }}</a></p>
                </div>
                <hr>
    {% endfor %}
</body>
</html>