{% include 'houses/base.html' %}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
{% block content %}
<body>
    <br>
    <br>
<div class="container">
    <div class="row">
    <div class="col-9 text-center">
    <h1>{{ object.Title| title }}</h1>

    <img class="img-thumbnail" src="{{ object.image }}" width="600" height="500">
        <p>{{ object.author }} | {{ object.timestamp | date }}</p>
<hr>
        {% if object.content %}
            <p>
                {% lorem 3 p random %}
            </p>
            {% else %}
        {% endif %}

    </div>


    </div>
</div>
</body>
{% endblock %}
{% include 'houses/footer.html' %}

</html>